/*  __________________ */
/* ~|GENERAL PAGE CSS|~ */
/*  -------------------- */

:root{
    --hovercolour:#E41A1A;
    --lightgrey: #D9D9D9;
    --darkgrey: #4f4f4f;
    --blue:#0500FF;
    --green:#0FC000;
}

body{
    width: 100%;
}

/* center the content filling up whole width*/
.center{
    width: 100%; 
    display: flex; 
    /* horizontal */
    justify-content: center;
    /* vertical */
    align-items: center;
}

/* set rules for sticky components, set background to white so elements will hide under the stick element */
.sticky{
    position: sticky;
    top: 0%;
    background-color: white;
    z-index: 100000;
}

/*  __________________ */
/* ~|Category Circle CSS|~ */
/*  -------------------- */
/* I put the category css here since somehow the style is inconsistent if putting it in home-category.css  */

/* contains circle and title */
.circlecontainer{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}



/* categories circle */
.circle{
    border-radius: 50%;
    background-color: var(--darkgrey);
    max-width: 90px;
    min-width: 70px;
    max-height: 90px;
    min-height: 70px;
    width: 10vw;
    height:10vw;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 10px;
}

.circle img{
    width: 100%;
    height:100%
}

.circle:hover{
    background-color: var(--hovercolour);
}