@import url(global.css);

/* horizontal scroll of categories */
.categoryscroll{
    max-width: 90vw;
    width: 90vw;
    height: auto;
    overflow-x: auto;
    display: flex;
    scrollbar-width: none;
}

/* displays categories in a row */
.category{
    display: flex;
    flex-direction: row;
}

/* contains circle and title */
.circlecontainer{
    display: flex;
    flex-direction: column;
}

.circlecontainer p{
    font-size: 15px;
}

/* categories circle */
.circle{
    border-radius: 50%;
    background-color: var(--darkgrey);
    max-width: 90px;
    min-width: 70px;
    max-height: 90px;
    min-height: 70px;
    width: 10vw;
    height:10vw;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 10px;
}

.circle img{
    width: 100%;
    height:100%
}

.circle:hover{
    background-color: var(--hovercolour);
}

#scrollbuttonL{

    width:5vw;
    min-width: 5vw;
    
}

#scrollbuttonR{
   
    width:5vw;
    min-width: 5vw;
}
