
/*  ____________________ */
/* ~|Filter CSS CONTENT|~ */
/*  -------------------- */
.priceinput{
    width: 6vw;
    height: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-bottom: 1px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
}

/* popular tag */
.tagp{
    font-size: 10px;
    font-family: orbitron;
    font-weight:500;
    color: white;
    background-color: var(--darkgrey);
    width: 10vw;
    height: 28px;
    border-radius: 5px;
    align-items: center;
    margin: 10px;
}

.tagpclick{
    font-size: 10px;
    font-family: orbitron;
    font-weight:500;
    color: white;
    background-color: var(--blue);
    width: 10vw;
    height: 28px;
    border-radius: 5px;
    align-items: center;
    margin: 10px;
}


/* featured tag */
.tagf{
    font-size: 10px;
    font-family: orbitron;
    font-weight:500;
    color: white;
    background-color: var(--darkgrey);
    width: 10vw;
    height: 28px;
    border-radius: 5px;
    align-items: center;
    margin: 10px;
}

.tagfclick{
    font-size: 10px;
    font-family: orbitron;
    font-weight:500;
    color: white;
    background-color: var(--green);
    width: 10vw;
    height: 28px;
    border-radius: 5px;
    align-items: center;
    margin: 10px;
}

/* new release tag */
.tagn{
    font-size: 10px;
    font-family: orbitron;
    font-weight:500;
    color: white;
    background-color: var(--darkgrey);
    width: 10vw;
    height: 28px;
    border-radius: 5px;
    align-items: center;
    margin: 10px;
}
.tagnclick{
    font-size: 10px;
    font-family: orbitron;
    font-weight:500;
    color: white;
    background-color: var(--hovercolour);
    width: 10vw;
    height: 28px;
    border-radius: 5px;
    align-items: center;
    margin: 10px;
}


/* Categories */
.categories{
    font-size: 10px;
    font-family: orbitron;
    font-weight:500;
    color: white;
    background-color: black;
    width: 100%;
    height: 25px;
    border-radius: 5px;
    align-items: center;
    margin: 5px;
}

.categoriesclick{
    font-size: 10px;
    font-family: orbitron;
    font-weight:500;
    color: white;
    background-color: var(--darkgrey);
    width: 100%;
    height: 25px;
    border-radius: 5px;
    align-items: center;
    margin: 5px;
}

/* apply button */
.apply{
    font-size: 10px;
    font-family: orbitron;
    font-weight:500;
    color: white;
    background-color: var(--darkgrey);
    width: 100px;
    height: 25px;
    border-radius: 5px;
    align-items: center;
    margin: 15px;
}

.apply:hover{
    background-color: var(--hovercolour);
}

.hide{
    display: none;
}
/*  ____________________ */
/* ~|SORT CSS CONTENT|~ */
/*  -------------------- */
.sortcontainer{
    display: none;
}
.sortbutton{
    height: 20px;
    width: 120px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: 20px;
    margin-right: 20px;
}

/*  ____________________ */
/* ~|mobile CSS CONTENT|~ */
/*  -------------------- */
.dropdown {
    position: relative;
    display: inline-block;
  }

/* Dropdown button */
.dropbtnfilter {
    border: none;
    width: 50vw;
    height:46px;
    display:flex;
    align-items: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .dropbtnsort {
    border: none;
    width: 50vw;
    height:46px;
    display:flex;
    justify-content: end;
    align-items: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  /* right button content container */
  .dropdown-contentright {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  /* left button content container */
  .dropdown-contentleft {
    display: none;
    position: absolute;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-contentright a {
    min-width: 100vw;
    color: black;
    text-decoration: none;
    display: block;
  }

  .dropdown-contentleft a {
    min-width: 100vw;
    color: black;
    text-decoration: none;
    display: block;
  }

  /* display content when button clicked */
  .dropdown:hover .dropdown-contentright{
    display: block;
  }

  .dropdown:hover .dropdown-contentleft{
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }




