@import url(global.css);

/*   _______________________ */
/* ~|MOBILE MENU CSS CONTENT|~ */
/*  ------------------------- */

#menu{
    position: fixed;
    top: -500px;
    /* height of the menu */
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    background-color: white;
    animation-name: "";
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    padding: 10px; /* Applies padding to all sides */
}

/* define slide in and out positions */
@keyframes slidein {
    from{top: -500px;}
    to{top: 108px;}
}

@keyframes slideout {
    from{top: 108px;}
    to{top: -500px;}
}

.menubutton{
    width: 90vw;
    height: 80px;
    border: 0;
    border-radius: 10px;
    background-color: var(--darkgrey);
    color: white;
    margin-bottom: 5px;
    text-decoration: none;
}

.menubutton:hover{
    background-color: var(--hovercolour);
}
/*   ___________________ */
/* ~|HEADER CSS CONTENT|~ */
/*  -------------------- */

/* make images smaller as original file dimentions are too large (as described in comments from assignment 2) */
header img.icon{
    width: auto;
    height: auto;
    max-width: 65%;
    max-height: 65%;
}

/* logo margin  */
#logo{
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* center content in header */
header {
    width: 100%;
    display: flex;
    /* vertical */
    align-items: center;  
    /* horizontal */
    justify-content: center; 
    flex-direction: column;
}
/* note: the search bar box covers/contians the input and the button */
.searchbar{
    height: 37px;
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: var(--lightgrey);
    border-radius: 10px;
    margin-bottom: 10px;
}
/* the space where user input their search  */
#searchinput{
    height: 35px;
    width: 70vw;
    border-radius: 10px;
    background-color: var(--lightgrey) ;
    margin: auto;
    border: 0ch;
    padding-left: 1vw; 
    font-size: 14px;
}

/* Remove the border of searchinput when typing or clicked */
#searchinput:focus {
    outline: none; 
    border-color: transparent; 
}

/* organise items in buttons */
a {
    display: flex; 
    justify-content: center;
    align-items: center;
}

#searchbutton{
    width: 70px;
    height: 37px;
    border-radius: 10px;
    display: flex;
    background-color: var(--darkgrey);
    align-items: center;  
    justify-content: center;
}

#searchbutton:hover {
    background-color: var(--hovercolour); /* Change background color on hover */
}

/* hide desktop version profile icon */
#deskprofile{
    display: none;
}

/* hide desktop version cart icon */
#deskcart{
    display: none;
}

/* space out the menu, logo and cart icon in mobile */
.mobileheader{
    width: 100vw;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    flex-direction: row;
}


/*   ___________________ */
/* ~|NAVBAR CSS CONTENT|~ */
/*  -------------------- */

/* hide nav bar  */
#desknav{
    display: none;
}


/*  ____________________ */
/* ~|PAGE CSS CONTENT|~ */
/*  -------------------- */

#marginleft{
    margin-left: 2.5vw;
}

h1{
    font-size: 18px;
    font-family: orbitron;
    font-weight: normal;
}

h2{
    font-size: 15px;
    font-family: orbitron;
    font-weight: normal;
}

p{
    font-size: 12px;
    font-family: sans-serif;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

/*  ____________________ */
/* ~|FOOTER CSS CONTENT|~ */
/*  -------------------- */

#footer{
    background-color: var(--darkgrey);
    width: 100%;
    height: 100%;
    align-items: flex-start;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    padding-bottom: 20px;
}

footer h2{
    font-size: 15px;
    font-family: Orbitron;
    color: white;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer p{
    font-size: 12px;
    color: white;
    font-family: sans-serif;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* resizing icons */
footer img.icon {
    width: auto;
    height: auto;
    max-width: 35%;
    max-height: 35%;
}
img.icon[src$="paypal.png"] {
    width: auto; 
    height: auto; 
    max-width: 25%; 
    max-height: 25%;
}

img.icon[src$="visamaster (1).png"] {
    width: auto; 
    height: auto; 
    max-width: 55%;
    max-height: 55%;
}

/* spaces out image in footer vertically */
.imagespacing{
    margin-top: 20px;
}

/* all elements in footer aligns center */
#footercontent > *{
    display: flex;
    justify-content: center;
    align-items: center;  
}



